#Source Insight 
*.VPJ
*.VPW
*.vpwhist
*.vtg
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PRI
*.PO
*.PR
*.PS
*.SearchResults
*.WK3
*.vtg
*.vpwhist
*.cproject
*.CF3

#Melis
*.img
!epos.img
*.script
!touchthemehdr.script  
elibs_e2prom.a
elibs_ws_en.a
elibs_ex.a
elibs_md5.a
tmplib.a
melis100.fex
verify.fex
theme.bin
lang.bin
livedesk/beetles/shell/__image.axf
livedesk/beetles/res/theme/theme.h
livedesk/beetles/res/lang/lang.h	     		 
touchtheme.face
#C libary
*.o

#Eclipse 
RemoteSystemsTempFiles/
.metadata/
.settings/
/Release/
/Debug/
#.project